<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="bcb1c6fb-71bd-4ea2-9f48-a7fa28e2876b"
    Publisher="CN=ProjectMile"
    Version="1.0.0.0" />

  <mp:PhoneIdentity
    PhoneProductId="bcb1c6fb-71bd-4ea2-9f48-a7fa28e2876b"
    PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>MileXamlBlankApp (.Net Native)</DisplayName>
    <PublisherDisplayName>ProjectMile</PublisherDisplayName>
    <Logo>Assets\SquareLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.0.0"
      MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="MileXamlBlankApp (.Net Native)"
        Square150x150Logo="Assets\SquareLogo.png"
        Square44x44Logo="Assets\SquareLogo.png"
        Description="MileXamlBlankApp (.Net Native)"
        BackgroundColor="transparent" />
    </Application>
  </Applications>

</Package>
